<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Z-Carousels</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd"
      crossorigin="anonymous"
    />
    <style>
      .carousel-variant {
        margin: 40px 0 20px 0;
      }
      .carousel-variant h2 {
        font-size: 28px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <main class="my-5">
      <div class="category">
        <div class="mb-3 d-flex justify-content-center">
          <div style="width: 80%">
            <div class="carousel-variant">
              <h2>Basic Image Carousel</h2>
              <z-carousel
                data-images='["https://bkwx8dw7.media.zestyio.com/85045b40-968f-4668-80cb-7126c287ae9e_5.jpg", "https://bkwx8dw7.media.zestyio.com/98178bbd-cda2-47d6-b1e2-8a02604964a0_6.jpg", "https://bkwx8dw7.media.zestyio.com/5363ccca-ecea-4374-b271-ac3e9cc97b1c_5.jpg", "https://bkwx8dw7.media.zestyio.com/8600bb9d-5621-40fa-b7d0-42fe3f403bf9_6.jpg"]'
                height="500px"
              >
              </z-carousel>
            </div>

            <div class="carousel-variant">
              <h2>With Indicators</h2>
              <z-carousel
                data-images='["https://bkwx8dw7.media.zestyio.com/85045b40-968f-4668-80cb-7126c287ae9e_5.jpg", "https://bkwx8dw7.media.zestyio.com/98178bbd-cda2-47d6-b1e2-8a02604964a0_6.jpg", "https://bkwx8dw7.media.zestyio.com/5363ccca-ecea-4374-b271-ac3e9cc97b1c_5.jpg", "https://bkwx8dw7.media.zestyio.com/8600bb9d-5621-40fa-b7d0-42fe3f403bf9_6.jpg"]'
                indicators
                height="500px"
              >
              </z-carousel>
            </div>

            <div class="carousel-variant">
              <h2>With Captions</h2>
              <z-carousel
                data-images='["https://bkwx8dw7.media.zestyio.com/85045b40-968f-4668-80cb-7126c287ae9e_5.jpg", "https://bkwx8dw7.media.zestyio.com/98178bbd-cda2-47d6-b1e2-8a02604964a0_6.jpg", "https://bkwx8dw7.media.zestyio.com/5363ccca-ecea-4374-b271-ac3e9cc97b1c_5.jpg", "https://bkwx8dw7.media.zestyio.com/8600bb9d-5621-40fa-b7d0-42fe3f403bf9_6.jpg"]'
                data-captions='["Caption for first image", "Caption for second image", "Caption for third image", "Caption for fourth image"]'
                indicators
                height="500px"
              >
              </z-carousel>
            </div>

            <div class="carousel-variant">
              <h2>Autoplay</h2>
              <z-carousel
                data-images='["https://bkwx8dw7.media.zestyio.com/85045b40-968f-4668-80cb-7126c287ae9e_5.jpg", "https://bkwx8dw7.media.zestyio.com/98178bbd-cda2-47d6-b1e2-8a02604964a0_6.jpg", "https://bkwx8dw7.media.zestyio.com/5363ccca-ecea-4374-b271-ac3e9cc97b1c_5.jpg", "https://bkwx8dw7.media.zestyio.com/8600bb9d-5621-40fa-b7d0-42fe3f403bf9_6.jpg"]'
                data-captions='["Caption for first image", "Caption for second image", "Caption for third image", "Caption for fourth image"]'
                indicators
                ride
                height="500px"
              >
              </z-carousel>
            </div>

            <div class="carousel-variant">
              <h2>Custom Autoplay Interval</h2>
              <z-carousel
                data-images='["https://bkwx8dw7.media.zestyio.com/85045b40-968f-4668-80cb-7126c287ae9e_5.jpg", "https://bkwx8dw7.media.zestyio.com/98178bbd-cda2-47d6-b1e2-8a02604964a0_6.jpg", "https://bkwx8dw7.media.zestyio.com/5363ccca-ecea-4374-b271-ac3e9cc97b1c_5.jpg", "https://bkwx8dw7.media.zestyio.com/8600bb9d-5621-40fa-b7d0-42fe3f403bf9_6.jpg"]'
                data-captions='["Caption for first image", "Caption for second image", "Caption for third image", "Caption for fourth image"]'
                indicators
                ride
                interval="100"
                height="500px"
              >
              </z-carousel>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script
      id="bootstrap"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="../z-carousel.js"></script>
  </body>
</html>
