<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Z-Components</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd"
      crossorigin="anonymous"
    />
    <script type="module" src="../z-button.js"></script>
    <style>
      html {
        padding: 0 !important;
        margin: 0 !important;
      }

      body {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        align-items: center;
        background: transparent !important;
      }

      div {
        flex-wrap: wrap;
      }

      .category {
        width: 100vw;
        padding: 60px 30px;
        height: 100%;
      }

      .category > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    </style>
  </head>
  <body>
    <main class="my-5">
      <div class="category" style="font-size: 18px">
        <div class="mb-3" style="display: flex; gap: 10px">
          <z-button variant="primary" size="medium" shape="rounded-pill"
            >Primary</z-button
          >
          <z-button variant="secondary" size="medium" shape="rounded-pill"
            >Secondary</z-button
          >
          <z-button
            text="Success"
            variant="success"
            size="medium"
            shape="rounded-pill"
            >Success</z-button
          >
          <z-button
            text="Danger"
            variant="danger"
            size="medium"
            shape="rounded-pill"
          >Danger</z-button>
          <z-button
            text="Warning"
            variant="warning"
            size="medium"
            shape="rounded-pill"
          >Warning</z-button>
          <z-button
            text="Info"
            variant="info"
            size="medium"
            shape="rounded-pill"
          >Info</z-button>
          <z-button
            text="Light"
            variant="light"
            size="medium"
            shape="rounded-pill"
          >Light</z-button>
          <z-button
            text="Dark"
            variant="dark"
            size="medium"
            shape="rounded-pill"
          >Dark</z-button>
          <z-button
            text="Link"
            variant="link"
            href="#"
            target="_black"
            rel="noopener noreferrer"
            size="medium"
            shape="rounded-pill"
          >Link</z-button>
        </div>
        <div class="mb-3">
          <div class="col-lg-7 col-md-9 col-sm-12">
            <div class="mb-2">
              <z-button
                variant="outline-secondary"
                size="medium"
                width="full"
              >Secondary action</z-button>
            </div>
            <div>
              <z-button
                variant="primary"
                size="medium"
                width="full"
              >Primary action</z-button>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <z-button
            variant="primary"
            size="medium"
            width="auto"
            icon-end="bi bi-arrow-right"
          >Primary icon</z-button>
          <z-button
            variant="secondary"
            size="medium"
            width="auto"
            icon-end="bi bi-arrow-right"
          >Secondary icon</z-button>
        </div>
        <div class="mb-3">
          <z-button
            variant="primary"
            size="medium"
            width="auto"
            padding="10px 20px"
            icon-end="spinner-border spinner-border-sm"
            disabled
          ></z-button>
          <z-button
            variant="primary"
            size="medium"
            width="auto"
            padding="10px 20px"
            icon-start="spinner-border spinner-border-sm"
            disabled
          >Loading...</z-button>
        </div>
        <div class="mb-3">
          <z-button
            variant="primary"
            size="medium"
            width="40px"
            height="40px"
            shape="rounded"
            padding=".5rem .5rem"
            icon-start="bi bi-x-lg"
          ></z-button>
          <z-button
            variant="outline-primary"
            size="medium"
            width="40px"
            height="40px"
            shape="rounded"
            padding=".5rem .5rem"
            icon-start="bi bi-x-lg"
          ></z-button>
        </div>
        <div class="mb-3" style="font-size: 30px">
          <z-button
            variant="primary"
            size="medium"
            width="58px"
            height="58px"
            shape="rounded"
            icon-start="bi bi-x-lg"
          ></z-button>
          <z-button
            variant="outline-primary"
            size="medium"
            width="58px"
            height="58px"
            shape="rounded"
            icon-start="bi bi-x-lg"
            id="test-log"
          ></z-button>
        </div>
      </div>
    </main>
    <script
      id="bootstrap"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script>
      const sampleElement = document.getElementById("test-log")

      if (sampleElement){
        sampleElement.addEventListener("z-click", () => {
          console.log("Hey i'm clicked!")
        })
      }
    </script>
  </body>
</html>
